{% extends 'base.html.twig' %}

{% block content %}
<section id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>{% block page_header %} {% endblock page_header %}</h3>

                <section class="page">
                    <div class="row">
                        <div class="col-sm-12">

                            {% block page_center %} {% endblock page_center %}

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock %}