{% extends 'base.html.twig' %}

{% block content %}
<section id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h3>{% block page_header %} {% endblock page_header %}</h3>

                <section class="page">

                    {% block page_center %} {% endblock page_center %}

                </section>
            </div>

            <div class="col-xs-12 col-sm-4">
                <section class="sidebar-left">
                    {% if app.request.get('_route') != 'history' %}
                        {% if posts != null %}
                            <h3>{% block page_header2 %} {% endblock page_header2 %}</h3>

                            <div class="list-group">
                                {% for post in posts | reverse |slice(0, 10) %}
                                    <a href="{{ asset('history') }}" class="list-group-item list-group-item-action">{{ post.title | slice(0, 35)}} <span class="badge">{{ post.initialDate }}</span></a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock %}