#login-form, #registerForm, #dForm {
  display: block;
  width: 380px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background-color: #fff;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;

  @media (max-width: $screen-xs-max) {
    margin: 30px auto;
    width: 100%;
    padding: 3em 2em;
  }

  .form-group {
    position: relative;
    margin-bottom: 45px;

    label {
      color: #999;
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: all 0.2s ease;
    }

    input {
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      -webkit-appearance: none;
      display: block;
      background: $color-white;
      color: #636363;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #757575;
      box-shadow: none;
    }

    input:focus { outline: none; }

    input:focus ~ label, input.used ~ label {
      top: -20px;
      transform: scale(.75); left: -2px;
      /* font-size: 14px; */
      color: $color-brand;
    }

    input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }

    input:focus ~ .highlight {
      animation: inputHighlighter 0.3s ease;
    }

    /* Underline */

    .bar {
      position: relative;
      display: block;
      width: 100%;
    }

    .bar:before, .bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $color-brand;
      transition: all 0.2s ease;
    }

    .bar:before { left: 50%; }

    .bar:after { right: 50%; }

    /* Highlight */

    .highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }

    /* Animations */

    @keyframes inputHighlighter {
      from { background: $color-brand; }
      to 	{ width: 0; background: transparent; }
    }

  }

  /* Button */

  .button {
    display: block;
    position: relative;
    padding: 12px 24px;
    margin: 0 auto;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid $color-brand;
    cursor: pointer;
    transition: all 0.15s ease;
  }
  .button:focus { outline: 0; }


  /* Button modifiers */

  .buttonBlue {
    width: 260px;
    background: #4a89dc;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  .buttonBlue:hover { background: #357bd8; }

  .addButton, .removeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background: #fff;
    color: $color-green;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 28px;
    font-weight: 100;
  }

  .removeButton {
    color: $color-red;
  }

  .addButton:hover, .removeButton:hover {
    box-shadow: rgba(0,0,0,0.14902) 0 2px 2px 0,rgba(0,0,0,0.09804) 0 2px 2px 0;
  }


  /* Ripples container */

  .ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
  }


  /* Ripples circle */

  .ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
  }

  .ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
  }


  /* Ripples animation */

  @keyframes ripples {
    0% { opacity: 0; }

    25% { opacity: 1; }

    100% {
      width: 200%;
      padding-bottom: 200%;
      opacity: 0;
    }
  }
}

#login-form {
  margin: 4em auto 2em;
 }

#dForm {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  border: 0;

  @media (max-width: $screen-xs-max) {
    padding: 0 2em 0 2em;
  }

  #ddate1, #ddate2, #dtime1, #dtime2 {
    .bootstrap-datetimepicker-widget {
      left: 0 !important;
    }

    .date {
      display: flex;
      flex-direction: row;
      position: relative;
    }

    .form-group {
      display: block;
      margin-top: 30px;
      margin-bottom: 0;
    }

    .input-group-addon {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border: none;
      color: $color-brand;
      background-color: $color-white;
      font-size: 17px;
      cursor: pointer;
      border-radius: 0;
      height: 34px;
      width: 51px;
      transition: all 250ms;
      padding: 0 !important;
      margin-top: 30px;
      margin-bottom: 0;
      z-index: 1;

      &:hover {
        color: $color-red;
      }
    }

    &.disabled {
      opacity: 0.5;
      .input-group-addon {
        cursor: not-allowed;
        &:hover {
          color: $color-brand;
        }
      }

    }
  }

  .newName {
    .row-flex {
      border: 1px solid #dddddd;
      padding: 20px 0 0;
      margin-bottom: 30px;
    }
  }

  .label--checkbox {
    display: flex;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
  }

  .checkbox {
    position: relative;
    min-height: 20px;
    top: 0;
    margin: 0 15px 0 0;
    cursor: pointer;

    &:before {
      @include transition(all .3s ease-in-out);

      content: "";

      position: absolute;
      left: 0;
      z-index: 1;

      width: 20px;
      height: 20px;

      border: 2px solid #757575;
    }

    &:checked {
      &:before {
        transform: rotate(-45deg);

        height: 10px;

        border-color: $color-green;
        border-top-style: none;
        border-right-style: none;
      }
    }

    &:after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 20px;
      height: 20px;

      background: #fff;

      cursor: pointer;
    }
  }

  %slide-up {
    -webkit-animation-duration: $slideDuration;
    animation-duration: $slideDuration;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @-webkit-keyframes slideUp {
    0% {
      -webkit-transform: translateY(rem($slideDistance));
      transform: translateY(rem($slideDistance));
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    0% {
      -webkit-transform: translateY(rem($slideDistance));
      transform: translateY(rem($slideDistance));
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  /* Switch button */
  .btn-default.btn-on.active{background-color: #5BB75B;color: white;}
  .btn-default.btn-off.active{background-color: #DA4F49;color: white;}

  .buttonBlue {
    margin-top: 30px;
  }
}

#status {
  display: block;
  margin-bottom: 60px;
}


