{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>Copyright Friedrich PICARD GmbH & Co. KG</p>
                </div>
            </div>
        </div>
    </section>
{% endif %}